@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    @font-face {
        font-family: 'HankenGrotesk-Bold';
        src: url(../../assets/fonts/static/HankenGrotesk-Bold.ttf);
    }

    @font-face {
        font-family: 'HankenGrotesk-ExtraBold';
        src: url(../../assets/fonts/static/HankenGrotesk-Bold.ttf);
    }

    @font-face {
        font-family: 'HankenGrotesk-Medium';
        src: url(../../assets/fonts/static/HankenGrotesk-Medium.ttf);
    }

    @font-face {
        font-family: 'HankenGrotesk-VariableFont-wght';
        src: url(../../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
    }

    .mainContainerFlex{
        @apply flex flex-col w-w375px h-h805px shadow-lg shadow-darkGrayBlueAlpha;
    }
}